
name: Push Docker images to Hub

on:
  push:
    branches: ['feature-alberto']
  pull_request:
    branches: ['feature-alberto']


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build and test with Maven
        run: mvn --batch-mode package

      # Build and Push Images to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:

          username: ${{ secrets.DOCKERUSERNAME }}
          password: ${{ secrets.DOCKERPASSWORD }}


      - name: Build and push Docker images for api-gateway
        run: |
          cd api-gateway

          docker build -t anavarrooo/generics:api-gateway .
          docker push anavarrooo/generics:api-gateway


      - name: Build and push Docker images for crud-service
        run: |
          cd CRUD-service

          docker build -t anavarrooo/generics:crud-service .
          docker push anavarrooo/generics:crud-service


      - name: Build and push Docker images for register-service
        run: |
          cd register-service

          docker build -t anavarrooo/generics:register-service .
          docker push anavarrooo/generics:register-service


      - name: Build and push Docker images for discovery-server
        run: |
          cd discovery-server

          docker build -t anavarrooo/generics:discovery-server .
          docker push anavarrooo/generics:discovery-server

      - name: Build and push Docker images for audit-service
        run: |
          cd audit-service

          docker build -t anavarrooo/generics:discovery-server .
          docker push anavarrooo/generics:discovery-server

      - name: Build and push Docker images for user-audit-service
        run: |
          cd audit-service
          
          docker build -t anavarrooo/generics:audit-service .
          docker push anavarrooo/generics:audit-service

